# site files
/.quarto/
_extensions
.DS_Store

# source code
/.luarc.json
website/

# dev notebooks
/portfolio/migration-sentiment-monitor/src/main/*.ipynb
portfolio/migration-sentiment-monitor/src/main/__pycache__/*.pyc
