/* css styles */

/* sections */

section#about p {
    font-size: 18px;
}

section#datasets p {
    font-size: 18px;
    margin-bottom: 30px;
}

section#datasets ~ div h5.no-anchor.card-title.listing-title:hover {
    color: #FCB7B4;
}

section#portfolio p {
    font-size: 18px;
    margin-bottom: 30px;
}

section#portfolio ~ div h5.no-anchor.card-title.listing-title:hover {
    color: #F28A64;
}

section#lets-connect p {
    font-size: 18px;
}

/* cards for posts */

.card-text.listing-description p {
    margin-bottom: 0px;
}

/* posts */

h5.listing-title {
    fill: black;
    opacity: 1;
}

h5.no-anchor.card-title.listing-title {
    margin-bottom: 10px;
}

h5.anchored {
    margin-top: 1.5em; 
    margin-bottom: 1em;
}

h6.anchored {
    margin-top: 1.5em; 
    margin-bottom: 0.8em;
}

.content li {
    font-size: 15px;
}

/* .post-subtitle {
    font-size: 18px;
    color: #868696
} */

.post-footer {
    font-size: 13px;
    color: #868696
}

#title-block-header.quarto-title-block.default .quarto-title h1.title {
    font-size: 30px;
}

#title-block-header.quarto-title-block.default .description>p {
    font-size: 18px;
}

#title-block-header.quarto-title-block.default .description>p:last-of-type {
    margin-bottom: 1.8em;
    color: #868696;
}

#quarto-document-content p {
    font-size: 15px;
}

.description>p {
    margin-top: 10px;
}

.quarto-title-meta div {
    display: none;
}

div.listing-date {
    display: none;
}


/* tables */

.table {
    font-size: 14px;
}

div.dt-layout-row.dt-layout-table {
    font-size: 12px;
}

table td {
    max-width: 200px;
    overflow: hidden; 
    text-overflow: ellipsis;
}

button.dt-paging-button {
    font-size: 12px;
}

/* footnotes */

#footnotes li {
    font-size: 12.5px;
}

#footnotes p {
    font-size: 12.5px;
}

#quarto-appendix.default .quarto-appendix-heading {
    font-size: 14px !important;
}

/* general */

body {
    color: black;
}

.profile {
    font-size: 25px;
}

.profile-image p {
    margin: 0 0 0 0;
}

.location {
    font-size: 18px;
    color: gray;
    padding-top: 10px;
    display: inline-block;
}

.sourceCode {
    font-size: 12px;
}

.cell {
    margin-bottom: 2em;
}

.cell summary {
    font-size: 15px; 
}

.quarto-about-jolla img.round {
    margin-bottom: 0em;
}

.quarto-about-jolla h1.title {
    display: none;
}

div.page-layout-full h1.title {
    display: none;
}

#about h1 {
    margin-top: 0.5em;
}
