/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap');

$theme: "litera" !default;

// fonts
$font-family-sans-serif: "Montserrat", Helvetica, sans-serif !default;
$font-family-monospace: "Fira Code", monospace;
$headings-font-family: "Montserrat", Helvetica, sans-serif !default;

// litera bootswatch theme colors
$white:    #fff !default;
$gray-100: #F8F8FA !default;
$gray-200: #E9E9EF !default;
$gray-300: #DCDCE6 !default;
$gray-400: #CECEDA !default;
$gray-500: #ADADBD !default;
$gray-600: #868696 !default;
$gray-700: #494957 !default;
$gray-800: #343440 !default;
$gray-900: #212129 !default;
$black:    #000 !default;

// colors
$pink: #FCB7B4;
$pink2: #D4006A;
$blue: #96C5D9;
$blue2: #2E6A98;
$green: #88CAAE;
$cyan: #00D4D4;
$red: #D40000;
$indigo: #0000D4;
$purple: #6A00D4;
$orange: #F28A64;
$yellow: #D4D400;
$darker-green: #008542;

$primary:       $blue !default;
$secondary:     $gray-500 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $orange !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;

$second-color:  $orange;
$third-color:   $pink;
$fourth-color:  $green;

$font-size-base:   1rem;
$h1-font-size:     $font-size-base * 2.5 !default;
$h2-font-size:     $font-size-base * 2 !default;
$h3-font-size:     $font-size-base * 1.75 !default;
$h4-font-size:     $font-size-base * 1.5 !default;
$h5-font-size:     $font-size-base * 1.25 !default;
$h6-font-size:     $font-size-base !default;

$body-bg: $light;
$body-color: $dark;
$navbar-bg: $body-bg;
$navbar-fg: $body-color;
$code-bg: $light;
$code-color: $second-color;
$card-bg: $body-bg;
$card-border-color: $gray-300;

#fn1 > p > code {
  font-size: 0.8rem;
}

#fn2 > p > code {
  font-size: 0.8rem;
}

#fn3 > p > code {
  font-size: 0.8rem;
}

#fn4 > p > code {
  font-size: 0.8rem;
}

#fn5 > p > code {
  font-size: 0.8rem;
}

#fn6 > p > code {
  font-size: 0.8rem;
}

code {
  font-feature-settings: 'dlig' 0, 'liga' 0, 'calt' 1, 'zero' 1, 'ss02' 0;
}

code span.co {
  font-family: "MonoLisa-RegularItalic", "Fira Mono", monospace;
}

h1 code {
  font-size: $h1-font-size;
  text-align: center;
}

h2 code {
  font-size: $h2-font-size;
}

h3 code {
  font-size: $h3-font-size;
}

h4 code {
  font-size: $h4-font-size;
}

h5 code {
  font-size: $h5-font-size;
}

h6 code {
  font-size: $h6-font-size;
}

// callouts
$callout-color-note: $blue;
$callout-color-tip: $darker-green;
$callout-color-caution: $purple;
$callout-color-warning: $orange;
$callout-color-important: $red;

/*-- scss:rules --*/

// color classes
.primary {
  color: $primary;
}

.second-color {
  color: $second-color;
}

.third-color {
  color: $third-color;
}

.fourth-color {
  color: $fourth-color;
}

.gray {
  color: $gray-600;
}

// code
pre.sourceCode {
  border-radius: 0;
  border-left-color: $gray-300;
}

// light vs dark modes
.light-mode {
  display: block; 
}
.dark-mode {
  display: none;
}

// links
a {
  color: $blue2;
  text-decoration: none;
  //text-decoration-thickness: 2px;
  //text-underline-offset: .1rem;
  //text-underline-position: under;
}

a:hover {
  color: $primary;
  //text-decoration-color: $primary;
}

.second-hover:hover {
  color: $second-color;
}

.third-hover:hover {
  color: $third-color;
}

.third-icon {
  color: $black;
}

.third-icon:hover {
  color: $third-color;
}

.fourth-hover:hover {
  color: $fourth-color;
}

.fourth-icon {
  color: $black;
}

.fourth-icon:hover {
  color: $fourth-color;
}

.toc-actions a {
  text-decoration: none !important;  
  border-bottom: 0;
}

.toc-actions a:hover {
  color: $primary;
}

div.tippy-content a:hover {
  text-decoration-color: $primary;
}

// navbar
.navbar-title {
  font-size: $font-size-base * 1.75;
}

.navbar-title:hover {
  color: $blue2;
}

// hover on navbar
.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: $primary;
}
.navbar-expand-lg .navbar-nav .nav-link.active {
  color: $primary;
}

// then override colors so they match cards
#navbarCollapse > ul > li:nth-child(2) > a:hover,
#navbarCollapse > ul > li:nth-child(4) > a:hover {
  color: $second-color;
}

#navbarCollapse > ul > li:nth-child(2) > a.nav-link.active,
#navbarCollapse > ul > li:nth-child(4) > a.nav-link.active {
  color: $second-color;
}

#navbarCollapse > ul > li:nth-child(3) > a:hover,
#navbarCollapse > ul > li:nth-child(5) > a:hover {
  color: $third-color;
}

#navbarCollapse > ul > li:nth-child(3) > a.nav-link.active,
#navbarCollapse > ul > li:nth-child(5) > a.nav-link.active {
  color: $third-color;
}

#navbarCollapse > ul > li:nth-child(4) > a:hover,
#navbarCollapse > ul > li:nth-child(6) > a:hover {
  color: $fourth-color;
}

#navbarCollapse > ul > li:nth-child(4) > a.nav-link.active,
#navbarCollapse > ul > li:nth-child(6) > a.nav-link.active {
  color: $fourth-color;
}


// animated underline on hover, when navbar shows as row
@media screen and (min-width: 992px) {
  a.nav-link {
    position: relative;
  }
  
  .navbar .navbar-nav .nav-item {
    position: relative;
  }
  
  .navbar .navbar-nav .nav-item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: $primary;
    width: 0%;
    content: "";
    height: 4px;
    transition: all 0.3s;
  }
  
  .navbar .navbar-nav .nav-item:nth-child(2)::after, 
  .navbar .navbar-nav .nav-item:nth-child(4)::after {
    background-color: $second-color;
  }

  .navbar .navbar-nav .nav-item:nth-child(3)::after, 
  .navbar .navbar-nav .nav-item:nth-child(5)::after {
    background-color: $third-color;
  }
  
  .navbar .navbar-nav .nav-item:nth-child(4)::after, 
  .navbar .navbar-nav .nav-item:nth-child(6)::after {
    background-color: $fourth-color;
  }

  .navbar .navbar-nav .nav-item:hover::after {
    width: 90%;
  }
}

// header styles 
#quarto-header {
  text-transform: uppercase;
  //font-family: "LEMONMILKPro-Regular", Jost, Helvetica, sans-serif;
  // font-family: "ABCSocialExtendedEdu-Bold", Jost, Helvetica, sans-serif;
  font-family: $headings-font-family;
}

/*
h1, h2, h3, h4, h5 {
  text-transform: uppercase;
}
*/
/*
h1 {
  text-transform: uppercase;
}
*/

.heading-font {
  font-family: $headings-font-family;
  //font-family: "LEMONMILKPro-Regular", Jost, Helvetica, sans-serif;
}

.home-header {
  font-family: $headings-font-family;
  font-size: $font-size-base * 3;
}

h2, .h2 {
    border-bottom: 1px solid $gray-300;
    padding-bottom: .5rem;
}

// iframes for slides embedded in talks pages
iframe.slide-deck {
  border: 3px solid $gray-700;
  width: 100%;
}

.ar4x3 {
  aspect-ratio: 4 / 3;  
}

.ar3x2 {
  aspect-ratio: 3 / 2;  
}

// icon-links
.icon-link, div.quarto-about-jolla .about-link {
    background-color: transparent;
    color: $primary;
    //border: 2px solid !important;
    border: 2px solid;
    border-color: $primary;
    padding: 5px .4rem 5px .4rem !important;
    margin-top: 4px;
    margin-right: 8px;
    margin-bottom: 4px;
    border-radius: 5px; 
    display: inline-block;
    text-decoration: none;
}

.icon-link:hover, div.quarto-about-jolla .about-link:hover{
    background-color: $primary;
    color: $body-bg;
    border-color: $primary;
    text-decoration: none;
}

// for cards on home page
#card-first-color {
  background-color: $body-bg;
  border: 4px solid $primary;
  border-radius: 5px; 
}

#card-second-color {
  background-color: $body-bg;
  border: 4px solid $second-color;
  border-radius: 5px; 
}

#card-third-color {
  background-color: $body-bg;
  border: 4px solid $third-color;
  border-radius: 5px; 
}

#card-fourth-color {
  background-color: $body-bg;
  border: 4px solid $fourth-color;
  border-radius: 5px; 
}

.card-link {
    background-color: $primary;
    color: $body-bg;
    border: 4px solid $primary;
    border-color: $primary;
    padding: 5px .5rem 5px .5rem !important;
    margin: 0;
    border-radius: 5px; 
    display: inline-block;
    text-decoration: none;  
    font-size: $h5-font-size;
}

.card-link:hover {
  background-color: $body-bg;
  color: $primary;
}

.second-color-link{
    background-color: $second-color;
    border-color: $second-color;
    color: $body-bg;
}

.second-color-link:hover {
  color: $second-color;
  border-color: $second-color;
}

.third-color-link{
    background-color: $third-color;
    border-color: $third-color;
    color: $body-bg;
}

.third-color-link:hover {
  color: $third-color;
  border-color: $third-color;
}

.fourth-color-link{
  background-color: $fourth-color;
  border-color: $fourth-color;
  color: $body-bg;
}

.fourth-color-link:hover {
  color: $fourth-color;
  border-color: $fourth-color;
}
